<div class="element-bg-img">
  <img src="assets/images/1.jpg" alt="" class="img-responsive">
</div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li *ngFor="let type of types; last as isLast;"
          [ngClass]="{'anc-bor': isLast, 'is-selected': currentType?.value === type.value}">
        <a href (click)="toggleType($event, type)">{{type.name}}</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">

        <div class="activity-row"
             *ngFor="let place of places | placesFilter: currentType?.value;">
          <div class="activity-desc" (click)="onSelect(place)">
            <h5>
              {{place.title}}
            </h5>
            <p>
              type: {{getTypeName(place.type)}}
            </p>
            <p>
              {{place.description}}
            </p>
            <h6>Tel: {{place.phone}}</h6>
          </div>
          <div class="activity-img">
            <ul>
              <li>
                <img [src]="place.thumbnail" alt="" (click)="onSelect(place)"/>
              </li>
            </ul>
          </div>
          <div class="clear"> </div>
        </div>
        
      </div>
    </div>
  </div>
</div>